.typing-heading {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #61dafb;
    width: 0;
    animation:
        typing 4s steps(19) infinite,
        blink 0.7s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    45% {
        width: 19ch;
    }

    55% {
        width: 19ch;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.reveal-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1.3s ease, transform 1.3s ease;
}

.reveal-active {
    opacity: 1;
    transform: translateY(0);
}






